.container {
	display: grid;
	grid-template-columns: 130px 1fr;
	grid-template-rows: auto;
	row-gap: 1.2em;
}

.transition {
	border-top: 2px solid black;
	padding-top: 15px;
	margin-top: 15px;
}

.container div:nth-child(odd) {
	font-weight: bold;
	text-transform: uppercase;
}

.container > div > p {
	margin-bottom: 0;
}

.stagedirection {
	font-style: italic;
}

.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
}

.subdesc {
  padding-left: 44px ;
}

.split {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-auto-flow: column;
	margin-bottom: 1.2em;
}

.splitheader {
	text-align: center;
	font-weight: bold;
	font-style: italic;
}